body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
select {
  width: 12%;
  text-align: center;
}
form {
  margin-left: 25%;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
