@import url("https://fonts.googleapis.com/css2?family=Donegal+One&display=swap");

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
form {
  width: 30%;
  margin-left: 70%;
  cursor: pointer;
}
.person {
  background-color: yellow;
}
select {
  height: 30px;
  font-size: 16px;
}
